<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>black-box-centralized</title>
  <style>
    .box {
      border: 2px solid red;
      background: #000;
      width: 300px;
      height: 150px;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    .box::after {
      content: "margin:auto+定位，实现确定宽高的水平居中";
      display: block;
      color: #fff;
    }
  </style>
</head>
<body>
  <div class="box"></div>
</body>
</html>
